/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
                                                    /* navbar component css */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(128, 21, 128);
  text-align: center;
  list-style: none;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

li a:hover {
  background-color: rgb(109, 154, 221);
  transform: scale(1.3);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
                                                    /* zoo component css */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.backgroundZoo{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  width: 100vw;
  height: 100vh;
}

.ZooTitle {
  text-align: center;
  text-shadow: 10;
  font-family:  'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight: 1000;
}

.addAnimal{
  font-size: smaller;
  text-align: center;
}

.addBtn{
  cursor: pointer;
  transition: all .3s ease-in-out; 
}

.addBtn:hover { 
    transform: scale(1.3); 
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
                                                    /* about component css */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.About{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  width: 100vw;
  height: 100vh;
  text-align: center;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
                                                    /* contactus component css */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.Contact{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  width: 100vw;
  height: 100vh;
  text-align: center;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
                                                    /* HopmePage component css */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.HopmePage{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  width: 100vw;
  height: 100vh;
  text-align: center;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
                                                    /* Products component css */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.Products{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  width: 100vw;
  height: 100vh;
  text-align: center;
}